citygml/digitallandinformation/building_module.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bldg="http://www.opengis.net/citygml/building/3.0" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:dln="dxlandt.re.kr" xmlns:frn="http://www.opengis.net/citygml/cityfurniture/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="dxlandt.re.kr" version="1.0">
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./core.xsd"/>
  <import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="./building.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BuildingIDAttribute" substitutionGroup="bldg:ADEOfAbstractBuilding" type="dln:BuildingIDAttributeType"/>
  <complexType name="BuildingIDAttributeType">
    <complexContent>
      <extension base="bldg:ADEOfAbstractBuildingType">
        <sequence>
          <element name="cityObjectMemberId" type="string"/>
          <element minOccurs="0" name="gisBuildingId" type="string"/>
          <element name="ufid" type="string"/>
          <element minOccurs="0" name="jusoBuildingId" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingIDAttributePropertyType">
    <sequence>
      <element ref="dln:BuildingIDAttribute"/>
    </sequence>
  </complexType>
  <element name="Map2dAttribute" substitutionGroup="bldg:ADEOfAbstractBuilding" type="dln:Map2dAttributeType"/>
  <complexType name="Map2dAttributeType">
    <complexContent>
      <extension base="bldg:ADEOfAbstractBuildingType">
        <sequence>
          <element name="dtmCode" type="string"/>
          <element name="dtmName" type="string"/>
          <element name="dtmObjName" type="string"/>
          <element name="storeysAboveGround" type="integer"/>
          <element name="storeysBelowGround" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Map2dAttributePropertyType">
    <sequence>
      <element ref="dln:Map2dAttribute"/>
    </sequence>
  </complexType>
  <element name="Map2dGeometryAttribute" substitutionGroup="dln:Map2dAttribute" type="dln:Map2dGeometryAttributeType"/>
  <complexType name="Map2dGeometryAttributeType">
    <complexContent>
      <extension base="dln:Map2dAttributeType">
        <sequence>
          <element name="lod0Geometry" type="gml:GeometryPropertyType"/>
          <element maxOccurs="unbounded" name="geometryType" type="string"/>
          <element minOccurs="0" name="mapScale" type="string"/>
          <element name="creationDate" type="date"/>
          <element name="updateDate" type="date"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Map2dGeometryAttributePropertyType">
    <sequence>
      <element ref="dln:Map2dGeometryAttribute"/>
    </sequence>
  </complexType>
</schema>
